<!DOCTYPE html>
<html>

<head>
    <title>Movie Watching</title>
    <style>
        body {
            background-color: #f1f1f1;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        table {
            border-collapse: collapse;
            margin: 20px auto;
            width: 70%;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
            padding: 20px;
        }

        th {
            background-color: #3c4eb2;
            color: #fff;
            padding: 20px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        td.tentruyen {
            text-transform: uppercase;
        }

        form {
            display: flex;
            justify-content: center;
            margin: 20px;
        }

        input[type="text"] {
            padding: 8px;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            margin-right: 10px;
        }

        button[type="submit"] {
            background-color: #3c4eb2;
            border: none;
            color: white;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
            align-content: flex-end;
        }

        button[type="submit"]:hover {
            background-color: #273688;
        }

        .btn {
            margin: 10px 15% 0 15%;
        }

        td a {
            text-decoration: none;
            color: #333;
        }

        img {
            width: 100px;
            height: 150px;
            object-fit: cover;
        }
    </style>
</head>

<body>

    <div class="body_index2">
        <div class="header_index2">
            <div class="headr_logo">
                <img src="https://icon-library.com/images/free-movies-icon/free-movies-icon-16.jpg" />
                <h2>Movie Watching</h2>
            </div>
            <div class="header_account">
                <img src="{{user.avatar}}" />
                <p class="mt-3">{{user.tennguoidung}}</p>
                <a href="/logout"><button>Log out</button></a>
            </div>
        </div>

        <!-- Tab link -->
        <ul class="menu-list">
            <a href="/" class="tablinks">
                <li>Phim</li>
            </a>
            <a class="tablinks" style="color: red;
            border-bottom: 2px solid red;">
                <li>Thể loại</li>
            </a>
            <a href="/dao-dien" class="tablinks">
                <li>Đạo diễn</li>
            </a>
            <a href="/dien-vien" class="tablinks">
                <li>Diễn viên</li>
            </a>
            <a href="/quoc-gia" class="tablinks">
                <li>Quốc gia</li>
            </a>
            <a href="/nguoi-dung" class="tablinks">
                <li>Người dùng</li>
            </a>
        </ul>

        <body>
            {{!-- <form action="/search" method="get">
                <input type="text" name="keyword" placeholder="Nhập từ khóa tìm kiếm...">
                <button type="submit">Tìm kiếm</button>
            </form> --}}
            <button onclick="them()" class="btn" type="submit">Thêm</button>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên thể loại</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each listTheLoai}}
                    <tr>
                        <td>{{id}}</td>
                        <td><a href="update-the-loai/{{id}}">{{tentheloai}}</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

    </div>
    <script>
        function them() {
            window.location.href = "/add-the-loai";
        }
    </script>
</body>